<nav class="navbar bg-base-100 font-mono">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="/">LegoCollection</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a class="<%= (page === '/lego/sets') ? 'active' : '' %>" href="/lego/sets">Collection</a></li>
      <li><a class="<%= (page === '/lego/addSet') ? 'active' : '' %>" href="/lego/addSet">Add to Collection</a></li>
      <li><a class="<%= (page === '/about') ? 'active' : '' %>" href="/about">About</a></li>
    </ul>
  </div>
</nav>