<!DOCTYPE html>
<html lang="en">
<html data-theme="valentine">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="SHAN-YUN, WANG" />

  <title>About</title>

  <link rel="stylesheet" href="/css/main.css" />

</head>

<body class="font-mono">
  <%- include('partials/navbar', {page: '/about'}) %>
  
  <main>
    <header>
      <div class="bg-base-200 p-10 min-h-full">
        <div class="hero-content">
        <img src="https://imgur.com/G0DYuLh.jpg" class="max-w-sm rounded-lg shadow-2xl" />
        <div class="p-10">
          <h1 class="text-5xl font-bold text-center">I'm Abby!</h1>
          <p class="py-6">I am a Lego fan and I have a huge collection of Lego sets. I have been collecting
            Lego sets for over 10 years. I have a wide range of Lego sets from different themes. I have sets from
            Classic, Space, Cars, and many more. I am always looking for new sets to add to my collection.</p>
            <button class="btn btn-primary"><a href="/">Go Home</a></button>
        </div>
      </div>
    </div>
  </header>
  </main>
</body>
</html>